<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851892431699-g58rtsmpptspdpvrcs4s3ek2aq3hrm18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851892431699-g58rtsmpptspdpvrcs4s3ek2aq3hrm18</string>
	<key>API_KEY</key>
	<string>AIzaSyBUx8WrChiqx-cXrPXRdl7n1aqueT4wSL8</string>
	<key>GCM_SENDER_ID</key>
	<string>851892431699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maria-Silva-Campos.Capstone4</string>
	<key>PROJECT_ID</key>
	<string>capstone4-34e8a</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone4-34e8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851892431699:ios:23ad235ae37102f29d4fa6</string>
</dict>
</plist>